.nheader{
    height: 163px;
    font-size:12px;
    overflow: hidden;
    .float-list{
        width: 180px;
        height: 594px;
        position: absolute;
        top: 129px;
        left: 50%;
        margin-left: -600px;
        z-index: 92;
        .order-main{
            width: 180px;
            height: 34px;
            background: #382f6b;
            text-align: center;
            a{
                color: #fff;
                font-size:14px;
                line-height: 32px;
                text-indent: -2px;
            }
        }
        .orderDivId{
            overflow: hidden;
            width: 180px;
            height: 62px;
            dt{
                height: 50px;
                overflow: hidden;
                width: 158px;
                margin: 0 2px;
                padding: 12px 0 0 18px;
                b{
                    font-weight: 900;
                    color: #fff;
                    font-size:14px ;
                }
                p{
                    margin-top: 10px;
                    white-space: nowrap;
                }
            }
            dd{
                display: none;
                position: absolute;
                left: 180px;
                width: 330px;
                border: 2px solid #463B7F;
                border-left: 0;
                padding: 0 25px  0 28px;
                min-height: 420px;
            }
        }
    }
}
.top-barcon{
    margin:0  auto;
    width:1200px;
    height: 30px;
    line-height: 30px;
    a{
        color:#999 ;
    }
    a:hover{
        color: #463b7f;
    }
    .head-logo{
        position: absolute;
        left: 50%;
        top: -2px;
        width: 205px;
        height: 135px;
        margin-left: -615px;
        .logo{
            position: absolute;
            right: 5px;
            top: 15px;
            width: 120px;
            height: 100px;
        }
        .text-logo{
            position: absolute;
            left: -60px;
            top: -18px;
            margin: 18px;
        }
    }
    .barLeft{
        a{
            margin: 0 10px;
        }
        span{
            margin: 0 0px;
            color: #999;
        }
        float: right;
        margin-left: 10px;
    }
    .barRight{
        a{
            margin: 0 10px;
        }
        float: right;
        #clientSer{
            position: relative;
        }
        .list{
            position: absolute;
            width: 70px;
            height: 120px;
            display: none;
            z-index: 10;
        }
    }
}
.shopCar{
    float: right;
    display: block;
    margin: 0 10px;
    b{
        padding-left:20px ;
        width: 20px;
        height: 20px;
        background: url(../img/gtjmfm8h.bmp) no-repeat left;
    }
}
.searchBar{
    width: 1200px;
    margin:  0 auto;
    height: 133px;
    position: relative;
    z-index: 10;
    .searchCont{
        z-index: 5;
        position: absolute;
        width: 485px;
        height: 35px;
        left: 249px;
        top: 25px;
        .searchInput{
            float: left;
            width: 416px;
            input{
                outline: none;
                border: 2px solid #463b7f;
                width: 412px;
                height: 30px;
            }
        }
        .nbtn{
            float: right;
            text-align: center;
            a{
                font-size: 14px;
                background: #5b4f9d;;
                display: block;
                width: 69px;
                height:36px;
                color: #fff;   
            }
        }
        
    }
    .searchHot{
        position: absolute;
        left: 249px;
        top: 68px;
        z-index: 4;
        font-size: 0;
        a:hover{
            text-decoration: underline;
            color: #d00;
        }
        a{
            display: inline-block;
            font-size:12px ;
            margin-right: 25px;
            color: #DDDDDD;
        }
    }
    .head-navBar{
        position: absolute;
        right: 25px;
        bottom: 0;
        width: 926px;
        height: 45px;
        overflow: hidden;
        z-index: 4;
        font-size:12px;
        line-height: 45px;
        a{
            color: #666;
            padding-right: 36px;
            font-weight: 900;
        }
    }
    .nav-apps{
        position: absolute;
        right: 11px;
        top: 4px;
        z-index: 10;
        width: 96px;
        height: 128px;
        overflow: hidden;
    }
}

.goods-list li {
                float: left;
                width: 240px;
                overflow: hidden;
                border-right: 1px solid #e5e5e5;
                border-top: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
                position: relative;
                cursor: pointer;
                a .small {
                    width: 240px;
                    height: 163px;
                    display: block;
                    position: relative;
                    text-align: center;
                    position: relative;
                    h3 {
                        color: #2f2f2f;
                        font: normal 14px Microsoft Yahei
                    }
                    h4 {
                        color: #888;
                        font: normal 12px/15px Microsoft Yahei;
                        width: 86px;
                        height: 15px;
                        overflow: hidden;
                        display: block
                    }
                    .text-con {
                        position: absolute;
                        top: 28px;
                        left: 20px;
                        text-align: left;
                        z-index: 1
                    }
                }

            }
            










/*
 banner 图片
 * */

.mall{
    overflow: hidden;
   .text1{
       h3{
           height: 20px;
           text-align: center;
           background: #007;
       }
       h4{
           span{
               background: #007AFF;
               z-index: 10;
           }
           text-align: center;
           height: 35px;
           background: #007AFF;
           line-height: 35px;
           background: url(../img/dot.png) repeat-x center;
       }
       height: 55px;
       background: gold;
   }
   .wzsm{
       padding-top: 26px;
       height: 32px;
   }
   .floor1{
       height: 330px;
       .p1{
           width: 480px;
           height: 330px;
           float: left;
       }
       .p2{
           width: 237px;
           height: 327px;
           border:1px solid #DDDDDD;
           background: #636363;
           float: left;
       }
       .p3{
           width: 238px;
           height: 330px;
           background: #007AFF;
           float: left;
           border:1px solid #DDDDDD;
           .p32{
               width:240px;
               height: 163px;
               background: #A52600;
               border:1px solid #DDDDDD;
           }
       }
   }
}
.nContanier{
    min-height: 1300px;
    width: 100%;
    .skSlider{
        width: 100%;
        height: 400px;
        position: relative;
        background: #DAA520;
        .mts-banner{
            position: relative;
            z-index: 0;
            overflow: hidden;
            height: 400px;
            .banner-container{
                width: 1030px;
                height: 400px;
//              margin-left: 203px;
                overflow: hidden;
                position: relative;
                z-index: 1;
            }
        }
    }
    
    //
    .FixedTop{
        overflow: visible;
        width: 81px;
        height: 500px;
        background: rgba(255,255,255,.80);
        position: fixed;
        right: 0;
        top: 50%;
        margin: -250px 0 0 0px;
        z-index: 3333;
        .fsFixedTop {
            width: 75px;
            height: 480px;
            transform: scale(1.2);
            opacity: 0;
            transition: all .3s ease;
            position: absolute;
            left: 3px;
            top: 11px;
            
            a {
                width: 75px;
                height: 30px;
                line-height: 30px;
                display: block;
                position: relative;
                cursor: pointer;
            }
            
            
            .togo{
                height: 450px;
                overflow: hidden;
            }
        }
    }
    
    
    //
    .floorList{
        width: 1200px;
        min-height: 400px;
        margin: 0 auto;
        background: #FFD0C0;
        .floor01{
            width: 100%;
            height: 198px;
            padding-top: 12px;
            text-align: right;
            p{
                img{
                    display: block;
                    border: 0;
                }
                margin-left:10px;
                width: 330px;
                height: 198px;
                cursor: pointer;
                display: inline-block;
            }
        }
        .floor{
            width: 100%;
//          height: 733px;
            .m-tit{
                width: 100%;
                position: relative;
                .tbd{
                    text-align: center;
                    height: 35px;
                }
                span{
                    display: inline-block;
                    font: 14px/35px microsoft yahei;
                    color: #333;
                    padding: 0 23px;
                    background: #fff
                }
                a{
                    display: block;
                    height: 20px;
                    font-size: 18px;
                    color: #000000;
                    font-weight: 900;
                    margin-bottom: 10px;
                }
            }
            .sale-section{
                padding: 0 0 27px;
                .brand-logo{
                    margin-left: -24px;
                    padding-top:px;
                    li{
                        margin-left: 24px;
                        padding-top: 40px;
                        float: left;
                        text-align: center;
                        padding-bottom: 42px;
                        width: 180px;
                        p{
                            a{
                                color: #5d5d5d;
                                font: 14px/15px Microsoft Yahei;
                                height: 15px;
                                display: block;
                                overflow: hidden;
                                padding: 0 5px;
                            }
                        }
                        .em{
                            width: 178px;
                            height: 100%;
                        }
                        .bd{
                            border: 1px solid #e8e8e8;
                            width: 178px;
                            height: 88px;
                            margin-bottom: 6px;
                            a{
                                width: 100%;
                                height: 88px;
                                display: block;
                                position: relative;
                                overflow: hidden;
                            }
                        }
                    }
                }
                .col1{
                    .time{
                        color: #888;
                        height: 16px;
                        line-height: 16px;
                        background-position: -264px -139px;
                        padding-left: 18px;
                    }
                    .zk{
                        color: #e93a39;
                        font: 12px tahoma,microsoft yahei;
                        display: inline-block;
                        margin-left: 0px;
                    }
                    .price{
                        color: #333;
                        font-weight: bold;
                        padding: 1px 0 3px
                    }
                    .name{
                        width: 85%;
                        height: 16px;
                        font: 12px microsoft yahei;
                        color: #000;
                        overflow: hidden;
                        display: block;
                        margin: 0 auto;
                        white-space: nowrap;
                        text-overflow: ellipsis
                    }
                    .img{
                        padding:9px  0 8px;
                    }
                    width: 178px;
                    height: 400px;
                    text-align: center;
                    background: url(http://pic10.secooimg.com/imagesPic/indexImg/sale_06.png) no-repeat;
                    color: #333;
                    padding-top: 8px;
                }
                .col2{
                    width: 567px;
                    height: 408px;
                    position: relative;
                    margin-right: 40px;
                    .time{
                        width: 191px;
                        height: 19px;
                        padding: 2px 0 0 0;
                        text-align: center;
                        display: block;
                        position: absolute;
                        left: 0px;
                        top: -10px;
                        background: #f5f5f5
                    }
                    .txt{
                        color: #000;
                        text-align: center;
                        width: 140px;
                        height: 176px;
                        padding: 10px 0 0 0;
                        margin-top: -88px;
                        display: block;
                        position: absolute;
                        left: 50px;
                        top: 50%;
                        background: #fff;
                        .btn{
                            font: 12px Microsoft Yahei;
                            border: 1px solid #000;
                            padding: 5px 0;
                            text-align: center;
                            width: 96px;
                            display: block;
                            margin: 0 auto;
                        }
                        .img{
                            position: relative;
                            height: 90px;
                        }
                        .name{
                            font: 16px tahoma,Microsoft Yahei;
                            height: 17px;
                            overflow: hidden;
                            padding: 6px 0 12px
                        }
                    }
                }
                .col3{
                    width: 375px;
                    height: 408px;
                    .text-con{
                        .val{
                            font: 18px tahoma,Microsoft Yahei;
                        }
                        h4{
                            font: 12px Microsoft Yahei;
                            height: 15px;
                            overflow: hidden;
                            padding-top: 9px;
                            padding-bottom: 1px;
                            white-space: nowrap;
                            -o-text-overflow: ellipsis;
                            text-overflow: ellipsis;
                        }
                        color: #000;
                        text-align: center;
                        width: 200px;
                        height: 60px;
                        background: url(http://pic14.secooimg.com/imagesPic/indexImg/ico_bg.png) repeat;
                        position: absolute;
                        left: 50%;
                        z-index: 1;
                        margin-left: -100px;
                        bottom: 15px;
                    }
                    .sale-3con {
                        margin-top: -30px;
                        a{
                            position: relative;
                            padding-top: 30px;
                            display: block
                        }
                    }
                }
                .col4{
                    width: 100%;
                }
            }
            .hw-section{
                width: 100%;
                height: 616px;
                padding: 25px  0 27px;
                .col1{
                    float: left;
                    width: 980px;
                    height: 616px;
                    .col1UL{
                        width: 980px;
                        height:358px;
                        li:first-child{
                            float: left;
                        }
                        li:last-child{
                            float: right;
                        }
                    }
                    .pro-list{
                        width: 1000px;
                        height: 258px;
                        ul{
                            li{
                                float: left;
                                .img-box{
                                    img{
                                        margin: 0 auto;
                                    }
                                    margin-bottom: 17px;
                                    
                                }
                                .country{
                                    font-size: 12px;
                                    height: 20px;
                                    padding-left: 42px;
                                    position: relative;
                                    em{
                                        width: 30px;
                                        height: 20px;
                                        display: block;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        background: url(../img/ico_index2.png) no-repeat;
                                       background-position:-125px -206px;
                                    }
                                }
                                .name-box{
                                    font-size: 12px;
                                    line-height: 12px;
                                    padding: 0 10px 0 42px;
                                }
                                .price-box{
                                    font-size: 12px;
                                    padding-left: 42px;
                                }
                                width: 190px;
                                height: 243px;
                                padding: 5px 5px 0 5px;
                            }
                        }
                    }
                }
                .col2{
                    width: 180px;
                    height: 501px;
                    float: right;
                    .tit{
                        width: 180px;
                        height: 16px;
                        font-size: 12px;
                        padding: 13px 0 13px;
                        text-align: right;
                    }
                    .brand-logo{
                        li{
                            width: 180px;
                            height: 111px;
                            padding-bottom: 42px;
                            margin: 0 auto;
                            .bd{
                                width: 178px;
                                height: 88px;
                                border: 1px solid #9D9FA2;
                                margin-bottom: 6px;
                            }
                            p{
                                font-size: 14px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .tbd{
                height: 35px;
                background: url(../img/dot.png) repeat-x center;
                span{
                    display: inline-block;
                    width: 400px;
                    height: 35px;
                    padding: 0 23px;
                    background: #fff;
                    ul{
                        height: 35px;
                        width: 400px;
                        li{
                            i{
                                float: left;
                                display: inline-block;
                                width: 38px;
                                height: 37px;
                                background:url(../img/ico_index2.png) no-repeat;
                                background-position:-2px -130px ;
                            }
                            font-size: 12px;
                            line-height: 37px;
                            float: left;
                            height: 35px;
                            padding: 0  3px;
                        }
                    }
                }
            }
        }
        
    }
    .guessLove{
        margin:  0 auto ;
        width: 1200px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #E93A39 url(../img/dot.png) repeat-x center;
        padding: 61px 0 60px;
        span{
            background: #fff;
            display: inline-block;
            width: 140px;
        }
    }
    .slide{
        width: 1200px;
        height: 215px;
        background: #007AFF;
        margin: 0 auto ;
        .fenye{
            width: 1100px;
            height: 160px;
            margin:  0 auto;
            background: #000077;
            ul {
                width: 120px;
                overflow: hidden;
                position: absolute;
                li{
                    float: left;
                    width: 160px;
                    height: 160px;
                    padding:0 10px ;
                    p{
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.hhhh{
    width: 100%;
    height: 300px;
    background: #000077;
    
}

