@charset "UTF-8";
body, html {
    overflow-x: hidden;
}
body, html, div, dl, dt, dd, ul, li, ol, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td, a, img, span {
    font-family: tahoma,arial,宋体,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
button, input, select, textarea {
    font-size: 100%;
}
textarea, input[type="text"], input[type="password"], select {
    color: #333;
    display: inline-block;
    vertical-align: middle;
}
textarea, input[type="text"], input[type="password"] {
    border: 1px solid #ddd;
    border-radius: 3px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
    border-color: #9d003f;
    outline: 0 none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul, li, dl, dd, dt {
    list-style: outside none none;
}
img {
    border: 0 none;
    vertical-align: middle;
}
em, b {
    font-style: normal;
    font-weight: normal;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #9c003f;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: normal;
}
.color9d0 {
    color: #9d003f;
}
.color444 {
    color: #444;
}
.color957 {
    color: #95775b;
}
.rmb {
    font-family: Microsoft yahei;
}
.disb {
    display: inline-block;
}
.padTop10 {
    padding-top: 10px;
}
.padTop30 {
    padding-top: 30px;
}
.fb {
    font-weight: bold;
}
.fn {
    font-weight: normal;
}
.txl {
    text-align: left;
}
.txc {
    text-align: center;
}
.txr {
    text-align: right;
}
.tunl {
    text-decoration: underline;
}
.tult {
    text-decoration: line-through;
}
.tno {
    text-decoration: none;
}
.padTop10 {
    padding-top: 10px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
* html .clearfix {
}
:first-child + html .clearfix {
}
.zoom {
}
.f12 {
    font-size: 12px;
}
.f14 {
    font-family: microsoft yahei;
    font-size: 14px;
}
.f16 {
    font-family: microsoft yahei;
    font-size: 16px;
}
.f18 {
    font-family: microsoft yahei;
    font-size: 18px;
}
.f20 {
    font-family: microsoft yahei;
    font-size: 20px;
}
.f22 {
    font-family: microsoft yahei;
    font-size: 22px;
}
.f24 {
    font-family: microsoft yahei;
    font-size: 24px;
}
.f26 {
    font-family: microsoft yahei;
    font-size: 26px;
}
.f32 {
    font-family: microsoft yahei;
    font-size: 32px;
}
.f36 {
    font-family: microsoft yahei;
    font-size: 36px;
}
.fb {
    font-weight: bold;
}
.fn {
    font-weight: normal;
}
.txl {
    text-align: left;
}
.txc {
    text-align: center;
}
.txr {
    text-align: right;
}
.t2e {
    text-indent: 2em;
}
.tunl {
    text-decoration: underline;
}
.tult {
    text-decoration: line-through;
}
.tno {
    text-decoration: none;
}
.fontF_w {
    font-family: "microsoft yahei";
}
.a_10 {
    color: #ccc;
}
.car_nav a.a_11 {
    margin-left: 0;
}
.a_1:link, .a_1:visited {
    color: #676767;
}
.a_1:hover {
    color: #fff;
}
.a_2:link, .a_2:visited {
    background-color: #fa993b;
    border: 1px solid #f47c02;
    border-radius: 3px;
    color: #fff;
    height: 22px;
    line-height: 20px;
    padding: 0 10px;
}
.a_2:hover {
    background-color: #f7871a;
    border: 1px solid #f47c02;
}
.a_3, .a_5, .a_7 {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/style/button_com.png") repeat-x scroll 0 0;
    border-radius: 2px;
}
.a_3:link, .a_3:visited {
    background-position: 0 -25px;
    border: 1px solid #d85e15;
    color: #fff;
    font-weight: bold;
    padding: 6px 20px;
}
.a_3:hover {
    background: #f16214 none repeat scroll 0 0;
}
.a_4:link, .a_4:visited {
    background-color: #e5e5e5;
    border: 1px solid #ccc;
    color: #bbb;
    display: inline-block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
}
.a_4:hover {
    background-color: #ff7e02;
    border: 1px solid #d85e15;
    color: #fff;
}
.a_5:link, .a_5:visited {
    background-position: 0 0;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 20px;
    text-align: center;
}
.a_5:hover {
    background-position: 0 -230px;
    color: #000;
}
.a_6:link, .a_6:visited {
    color: #36c;
}
.a_6:hover {
    color: #000;
}
.a_7:link, .a_7:visited {
    background-position: 0 -60px;
    border: 1px solid #ccc;
    color: #666;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}
.a_7:hover {
    color: #000;
}
.a_8:link, .a_8:visited {
    color: #666;
}
.a_8:hover {
    color: #000;
}
.a_red:link, .a_red:visited {
    color: #c10000;
}
.a_red:hover {
    color: #a90000;
}
.a_back000:link, .a_back000:visited {
    background-color: #000;
    color: #fff;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
}
.a_back000:hover {
    color: #fff;
}
.a_aaa:hover {
    color: #fff;
}
.a_666:link, .a_666:visited {
    color: #666;
}
.a_666:hover {
    color: #000;
}
.a_aaa:link, .a_aaa:visited {
    color: #aaa;
}
.a_aaa:hover {
    color: #fff;
}
.a_yellow:link, .a_yellow:visited {
    color: #f3ce52;
}
.a_yellow:hover {
    color: #c09505;
}
.b_list .lazy_bg {
    background: #fff url("https://safeimg.secoo.com/style/ajax-loader.gif") no-repeat scroll center center;
    display: block;
}
.b_list .lazy_bg {
    height: 240px;
}
.bt_1, .bt_2, .bt_3, .bt_4, .bt_5 {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/style/bt2_bg.jpg") repeat-x scroll 0 0;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
}
.bt_1:link, .bt_1:visited {
    background-position: 0 0;
    border: 1px solid #e06f00;
    color: #fff;
    height: 30px;
    line-height: 30px;
}
.bt_1:hover {
    background-position: 0 -30px;
    border: 1px solid #e06f00;
    height: 30px;
    line-height: 30px;
}
.bt_2:link, .bt_2:visited {
    background-position: 0 -60px;
    border: 1px solid #ccc;
    color: #666;
    height: 30px;
    line-height: 30px;
}
.bt_2:hover {
    background-position: 0 -90px;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
}
.bt_3:link, .bt_3:visited {
    background-position: 0 -120px;
    border: 1px solid #ccc;
    color: #333;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
}
.bt_3:hover {
    background-position: 0 -140px;
    border: 1px solid #ccc;
    height: 20px;
    line-height: 20px;
}
.ac_2 {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/style/bt2_bg.jpg") repeat-x scroll 0 0;
}
.ac_2 {
    background-position: 0 -120px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #666;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
}
.ac_2:hover {
    background-position: 0 -140px;
}
.acs_2 {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/style/bt2_bg.jpg") repeat-x scroll 0 0;
}
.acs_2 {
    background-position: 0 -120px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #666;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
}
.acs_2:hover {
    background-position: 0 -140px;
}
.span_back000, .span_backRed, .span_backOrange, .span_backGreen {
    border-radius: 2px;
    color: #fff;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    text-align: center;
}
.span_back000 {
    background-color: #000;
}
.span_backRed {
    background-color: #c00;
}
.span_backOrange {
    background-color: #fa993b;
}
.span_backGreen {
    background-color: #090;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clb {
    clear: both;
}
.cll {
    clear: left;
}
.clr {
    clear: right;
}
.pra {
    position: absolute;
}
.pre {
    position: relative;
}
.dbk {
    display: block;
}
.dbik {
    display: inline-block;
}
.dbi {
    display: inline;
}
.ovhid {
    overflow: hidden;
}
.hid {
    visibility: hidden;
}
.none {
    display: none;
}
.q_reg .colorccc {
    color: #ccc;
}
.colorRed {
    color: #c00;
}
.color000 {
    color: #000;
}
.color333 {
    color: #333;
}
.color666 {
    color: #666;
}
.color999 {
    color: #999;
}
.colorff6600 {
    color: #f60;
}
.colorBlue {
    color: blue;
}
.colorOrange {
    color: #f93;
}
.colorGreen {
    color: green;
}
.color8a8a8a {
    color: #8a8a8a;
}
.colord1d1d1 {
    color: #d1d1d1;
}
.bgf5 {
    background-color: #f5f5f5;
}
.borderLeft {
    border-left: 1px solid #ddd;
}
.borderRight {
    border-right: 1px solid #ddd;
}
.borderBottom {
    border-bottom: 1px solid #ddd;
}
.borderTop {
    border-top: 1px solid #ddd;
}
.borderBottom3 {
    border-bottom: 3px solid #ddd;
}
.divWidth100 {
    float: left;
    width: 100%;
}
.width200 {
    width: 200px;
}
.width140 {
    width: 140px;
}
.width100 {
    width: 100px;
}
.width180 {
    width: 180px;
}
.width425 {
    width: 425px;
}
.login_in .width100 {
    width: 100px;
}
.height20 {
    height: 20px;
    line-height: 20px;
}
.height25 {
    height: 25px;
    line-height: 25px;
}
.height30 {
    height: 30px;
    line-height: 30px;
}
.marLeft0 {
    margin-left: 0;
}
.marLeft_5 {
    margin-left: 5px;
}
.marLeft_10 {
    margin-left: 10px;
}
.marLeft_15 {
    display: inline;
    margin-left: 15px;
}
.marLeft_20 {
    display: inline;
    margin-left: 20px;
}
.marLeft_30 {
    display: inline;
    margin-left: 30px;
}
.marLeft_40 {
    display: inline;
    margin-left: 40px;
}
.marLeft_50 {
    display: inline;
    margin-left: 50px;
}
.marRight_15 {
    margin-right: 15px;
}
.marRight_10 {
    margin-right: 10px;
}
.marRight_20 {
    margin-right: 20px;
}
.marRight_30 {
    margin-right: 30px;
}
.marRight_40 {
    margin-right: 40px;
}
.marRight_50 {
    margin-right: 50px;
}
.marTop_2 {
    margin-top: 2px;
}
.marTop_5 {
    margin-top: 5px;
}
.login_in .marTop_8 {
    margin-top: 8px;
}
.column_co .marTop0 {
    margin-top: 0;
}
.marTop_10 {
    margin-top: 10px;
}
.marTop_15 {
    margin-top: 15px;
}
.marTop_20 {
    margin-top: 20px;
}
.marTop_30 {
    margin-top: 30px;
}
.marTop_40 {
    margin-top: 40px;
}
.marTop_50 {
    margin-top: 50px;
}
.marBottom_5 {
    margin-bottom: 5px;
}
.marBottom_10 {
    margin-bottom: 10px;
}
.marBottom_20 {
    margin-bottom: 20px;
}
.marBottom_30 {
    margin-bottom: 30px;
}
.marBottom_40 {
    margin-bottom: 40px;
}
.marBottom_50 {
    margin-bottom: 50px;
}
.column_co .padLeft_0 {
    padding-left: 0;
    padding-top: 15px;
}
.padLeft_5 {
    padding-left: 5px;
}
.padLeft_10 {
    padding-left: 10px;
}
.padTop_15 {
    padding-top: 15px;
}
.padLeft_20 {
    padding-left: 20px;
}
.padLeft_30 {
    padding-left: 30px;
}
.padLeft_40 {
    padding-left: 40px;
}
.padLeft_50 {
    padding-left: 50px;
}
.p_back01 .padLeft_160 {
    padding-left: 160px;
}
.padLeft_145 {
    padding-left: 145px;
}
.reg_center .padLeft_142 {
    padding-left: 142px;
}
.padRight_10 {
    padding-right: 10px;
}
.padRight_20 {
    padding-right: 20px;
}
.padRight_30 {
    padding-right: 30px;
}
.padRight_40 {
    padding-right: 40px;
}
.padRight_50 {
    padding-right: 50px;
}
.padTop_10 {
    padding-top: 10px;
}
.padTop_20 {
    padding-top: 20px;
}
.padTop_30 {
    padding-top: 30px;
}
.padTop_40 {
    padding-top: 40px;
}
.padTop_50 {
    padding-top: 50px;
}
.padBottom_10 {
    padding-bottom: 10px;
}
.padBottom_20 {
    padding-bottom: 20px;
}
.padBottom_30 {
    padding-bottom: 30px;
}
.padBottom_40 {
    padding-bottom: 40px;
}
.padBottom_50 {
    padding-bottom: 50px;
}
.input_text {
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    width: 200px;
}
.input_button1 {
    background-color: #f3f2f2;
    border: 1px solid #ccc;
    color: #666;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}
.input_radio {
    margin: 0 2px;
    position: relative;
    top: 2px;
}
.inp_txt01 {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-left: 5px;
}
.sb_sin, .sb_qqwb, .sb_qqkj, .sb_tb, .sb_py, .sb_bd, .sb_rr, .sb_sohu, .sb_kx {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/style/Alllogo_ico.png") no-repeat scroll 0 0;
    display: inline-block;
    float: left;
    height: 16px;
    margin: 0 5px 0 10px;
    width: 16px;
}
.sb_qqkj {
    background-position: 0 -64px;
}
.sb_bd {
    background-position: 0 -80px;
}
.sb_sin {
    background-position: 0 -96px;
}
.sb_sohu {
    background-position: 0 -112px;
}
.sb_qqwb {
    background-position: 0 -144px;
}
.sb_rr {
    background-position: 0 -160px;
}
.sb_kx {
    background-position: 0 -176px;
}
.sb_tb {
    background-position: 0 -209px;
}
.sb_py {
    background-position: 0 -240px;
}
.popupDiv {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: none;
    padding: 10px;
    z-index: 666;
}
.xxx {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/style/xxx.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 12px;
}
.shadeDiv {
    background-color: #000;
    display: none;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 555;
}
#tq_as {
    position: absolute;
}
.settleup_b, .VIPphone_csz, #sikuNev_csz {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/style/head_foot_pic.png") no-repeat scroll 0 0;
    display: inline-block;
}
.settleup_b {
    background-position: -134px -37px;
    height: 19px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    width: 24px;
}
.VIPphone_csz {
    background-position: 0 0;
    height: 30px;
    text-align: center;
    width: 158px;
}
.backToTop {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/style/backtotop.png") repeat scroll 0 0;
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 97px;
    position: fixed;
    right: 0;
    width: 47px;
    z-index: 88888;
}
.arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #8a8a89;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
}
.arrow, .pArrow, .harrow {
    transition: all 0.3s ease-in 0s;
}
.menu-hover .arrow, .menu-hover .pArrow, .menu-hover .harrow {
    transform: rotate(180deg);
}
.topIconBg {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesNew/globalPic/small_tips_bg.gif") no-repeat scroll center top;
    height: 39px;
    padding: 5px;
    position: relative;
    width: 39px;
}
.topIconBg p {
    border-radius: 50%;
    box-shadow: 0 3px 3px #b1b1b1;
    height: 39px;
    overflow: hidden;
    position: absolute;
    text-indent: -100px;
    transition: opacity 0.2s linear 0s, box-shadow 0.2s ease-in 0s;
    width: 39px;
}
.topIconBg p.i01 {
    background-position: left 0;
    z-index: 2;
}
.topIconBg p.i02 {
    background-position: left -78px;
    z-index: 2;
}
.topIconBg p.i03 {
    background-position: left -158px;
    z-index: 2;
}
.topIconBg p.i04 {
    background-position: left -239px;
    z-index: 2;
}
.topIconBg p.i05 {
    background-position: left -319px;
    z-index: 2;
}
.topIcon ul li:hover p {
    box-shadow: 0 3px 5px #f6c277;
}
.topIconBg p.i01s {
    background-position: left -39px;
    opacity: 1;
    z-index: 1;
}
.topIconBg p.i02s {
    background-position: left -118px;
    opacity: 1;
    z-index: 1;
}
.topIconBg p.i03s {
    background-position: left -198px;
    opacity: 1;
    z-index: 1;
}
.topIconBg p.i04s {
    background-position: left -279px;
    opacity: 1;
    z-index: 1;
}
.topIconBg p.i05s {
    background-position: left -360px;
    opacity: 1;
    z-index: 1;
}
.topIcon ul li:hover .i01 {
    opacity: 0;
}
.topIcon ul li:hover .i02 {
    opacity: 0;
}
.topIcon ul li:hover .i03 {
    opacity: 0;
}
.topIcon ul li:hover .i04 {
    opacity: 0;
}
.topIcon ul li:hover .i05 {
    opacity: 0;
}
.topIcon .text {
    border: 0 none;
    color: #999;
    font-family: "瀹嬩綋";
    font-size: 12px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 100%;
}
.topIcon ul li:hover .text {
    color: #c69c6d;
}
.footer {
    background-color: #f6f6f6;
    border-top: 1px solid #fff;
    width: 100%;
}
.listTopCon {
    height: 155px;
    width: 100%;
}
.footerListTop {
    margin: 0 auto;
    transition: all 0.3s ease-in-out 0s;
    width: 1200px;
}
.listTop01 {
    border-right: 1px solid #e3e3e3;
    height: 155px;
    transition: all 0.3s ease-in-out 0s;
    width: 610px;
}
.listTop01 .topIcon {
    height: 110px;
    margin-top: 30px;
    overflow: hidden;
    transition: all 0.3s ease-in-out 0s;
    width: 560px;
}
.listTop01 .topIcon ul li {
    float: left;
    height: 110px;
    position: relative;
    width: 79px;
}
.listTop01 .topIcon ul li a {
    height: 110px;
    position: absolute;
    width: 79px;
}
.listTop01 .topIcon ul li.hr {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesNew/globalPic/small_tips_bg01.gif") repeat-x scroll 0 0;
    height: 70px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out 0s;
    width: 40px;
}
.listTop01 .topIconBg {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesNew/globalPic/small_tips_bg02.jpg") no-repeat scroll center top;
    height: 60px;
    padding: 9px;
    position: relative;
    width: 60px;
}
.listTop01 .topIconBg p {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesPic/homePic/small_tips_bg04.png") no-repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 3px 3px #b1b1b1;
    height: 60px;
    overflow: hidden;
    position: absolute;
    text-indent: -100px;
    transition: opacity 0.2s linear 0s, box-shadow 0.2s ease-in 0s;
    width: 60px;
}
.listTop01 .topIconBg p.i01 {
    background-position: -1px -1px;
    z-index: 2;
}
.listTop01 .topIconBg p.i02 {
    background-position: -91px -1px;
    z-index: 2;
}
.listTop01 .topIconBg p.i03 {
    background-position: -180px -1px;
    z-index: 2;
}
.listTop01 .topIconBg p.i04 {
    background-position: -270px -1px;
    z-index: 2;
}
.listTop01 .topIconBg p.i05 {
    background-position: -358px -1px;
    z-index: 2;
}
.listTop01 .topIconBg p.i01s {
    background-position: -1px -89px;
    opacity: 1;
    z-index: 1;
}
.listTop01 .topIconBg p.i02s {
    background-position: -91px -89px;
    opacity: 1;
    z-index: 1;
}
.listTop01 .topIconBg p.i03s {
    background-position: -180px -89px;
    opacity: 1;
    z-index: 1;
}
.listTop01 .topIconBg p.i04s {
    background-position: -270px -89px;
    opacity: 1;
    z-index: 1;
}
.listTop01 .topIconBg p.i05s {
    background-position: -358px -89px;
    opacity: 1;
    z-index: 1;
}
.listTop01 .topIcon ul li:hover p {
    box-shadow: 0 3px 5px #c69c6d;
}
.text {
    color: #999;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 100%;
}
.topIcon ul li:hover .text {
    color: #c69c6d;
}
.listTop02 {
    border-left: 1px solid #fff;
    border-right: 1px solid #e3e3e3;
    height: 155px;
    width: 336px;
}
.listTop02 ul {
    height: 125px;
    padding: 30px 0 0 22px;
    width: 264px;
}
.listTop02 ul li {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesNew/globalPic/small_tips_bg03.jpg") no-repeat scroll center top;
    display: inline;
    float: left;
    height: 104px;
    margin-left: 25px;
    position: relative;
    width: 107px;
}
.weixinPic {
    height: 86px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 86px;
}
.toptext, .bottomtext {
    color: #999;
    height: 20px;
    left: 11px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    width: 84px;
}
.toptext:hover, .bottomtext:hover {
    color: #999;
}
.toptext {
    top: -14px;
}
.bottomtext {
    bottom: -8px;
}
.listTop03 {
    border-left: 1px solid #fff;
    border-right: 1px solid #e3e3e3;
    height: 155px;
    width: 245px;
}
.listTop03 p {
    height: 100px;
    margin: 30px auto 0;
    overflow: hidden;
    width: 170px;
}
.listTop03 p a {
    display: inline-block;
    float: left;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
    width: 85px;
}
.footerListBottom {
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
    padding-top: 1px;
    width: 100%;
}
.footerListBottom01 {
    background-color: #eaeaea;
    color: #999;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
}
.skSmallStyle .navCon, .skSmallStyle .headerCon {
    padding-left: 200px;
    width: 790px;
}
.skSmallStyle .mainNavCon {
    width: 810px;
}
.skSmallStyle .navLeft li {
    width: 90px;
}
.skSmallStyle .navListDown {
    width: 91px;
}
.skSmallStyle .navRight li {
    padding: 0 10px;
}
.skSmallStyle .post {
    width: 990px;
}
.skSmallStyle .contanierBox {
    margin: 0 auto;
    overflow: hidden;
    width: 990px;
}
.skSmallStyle .hotNav ul {
    margin-left: -20px;
    position: relative;
}
.skSmallStyle .hotNav ul li {
    margin-left: 20px;
}
.skSmallStyle .clubConRight, .skSmallStyle .clubConRight ul {
    position: relative;
    width: 270px;
    z-index: 2;
}
.skSmallStyle .conRightShow {
    display: none;
}
.skSmallStyle .conlist02 {
    width: 389px;
}
.skSmallStyle .conlist05 {
    width: 190px;
}
.skSmallStyle .process {
    margin-left: 27px;
    width: 420px;
}
.skSmallStyle .processList li.space {
    width: 14px;
}
.skSmallStyle .footerListTop {
    width: 990px;
}
.skSmallStyle .listTop01 {
    width: 500px;
}
.skSmallStyle .listTop01 .topIcon ul li.hr {
    width: 20px;
}
.skSmallStyle .listTop01 .topIcon {
    overflow: hidden;
    position: relative;
    width: 500px;
}
.skSmallStyle .listTop02 {
    width: 300px;
}
.skSmallStyle .listTop02 ul li {
    margin-left: 15px;
}
.skSmallStyle .listTop03 {
    width: 183px;
}
.skSmallStyle .prev, .skSmallStyle .next {
    display: none;
}
.qucikLogin {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border: 1px solid #fff;
    display: none;
    height: 440px;
    left: 50%;
    margin-left: -316px;
    margin-top: -230px;
    padding: 10px;
    position: fixed;
    top: 50%;
    width: 610px;
    z-index: 9998;
}
.loginMsg {
    background-color: #fff;
    display: none;
    height: 440px;
    left: 50%;
    margin-left: -306px;
    margin-top: -220px;
    position: fixed;
    top: 50%;
    width: 610px;
    z-index: 9999;
}
.loginMsgBox {
    height: 380px;
    padding: 20px 42px;
    width: 524px;
}
.msgBox {
    width: 230px;
}
.msgBox h3 {
    font-family: microsoft yahei;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 25px;
}
.msgBox p {
    color: #999;
    padding: 5px 0;
}
.msgBox p.error-n {
    color: #b41212;
    padding-bottom: 15px;
}
.btnStyle01, .btnStyle02 {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesNew/globalPic/btn_bg_sprite.png") repeat-x scroll 0 0;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    margin-right: 5px;
    padding: 0 10px;
}
.btnStyle01 {
    background-position: left -222px;
    border: 1px solid #cfcfcf;
    color: #5d5d5d;
}
.btnStyle02 {
    background-position: left -199px;
    border: 1px solid #dc8200;
    color: #fff;
    padding: 0 15px;
}
.btnStyle02:hover {
    color: #fff;
}
.msgBox .btnp {
    padding-top: 15px;
}
.msgBox .quickInput {
    border-radius: 0;
    padding: 9px 10px;
    width: 208px;
}
.boxReg {
    border-right: 1px solid #dbd4cc;
    padding-right: 30px;
}
.boxLogin {
    padding-left: 30px;
}
.newblackMask {
    background-color: #000;
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9997;
}
.secondHeader {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    height: 70px;
    width: 100%;
}
.secondHeaderCenter {
    margin: 0 auto;
    width: 1200px;
}
.sheaderLeft {
    width: 30px;
}
.sheaderRight a {
    display: inline-block;
    line-height: 70px;
    padding: 0 10px;
}
.sheaderRight a:hover {
    color: #c69c6d;
}
.APP_downLoad {
    background-color: #fff;
    border: 1px solid #cecece;
    border-radius: 5px;
    bottom: 120px;
    cursor: pointer;
    display: none;
    height: 70px;
    padding: 10px 5px 5px;
    position: fixed;
    right: 0;
    width: 52px;
    z-index: 9999;
}
.backToTop {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/style/backtotop.png") repeat scroll 0 0;
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 97px;
    position: fixed;
    right: 0;
    width: 47px;
    z-index: 88888;
}
.nheader {
    background: #fff none repeat scroll 0 0;
    height: 163px;
    position: relative;
    width: 100%;
    z-index: 62;
}
.topBar {
    background: #fff none repeat scroll 0 0;
    height: 30px;
    position: relative;
    width: 100%;
    z-index: 90;
}
.topBarCon, .navBarCon {
    margin: 0 auto;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 1200px;
}
.skSmallStyle .topBarCon, .skSmallStyle .navBarCon {
    float: right;
    width: 990px;
}
.skSmallStyle .mtsBanner a.move_left {
    margin-left: -314px;
}
.skSmallStyle .mtsBanner a.move_right {
    margin-left: 452px;
}
.buyCart i {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesPic/homePic/pic29.png?t=20150116") no-repeat scroll -33px -212px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 28px;
}
.buyCart a:hover i {
    background-position: -148px -212px;
}
.topBarCon {
    height: 30px;
    position: relative;
}
.topBarCon a:hover {
    color: #c69c6d;
}
.navBarCon {
    position: relative;
    z-index: 2;
}
.nlogo {
    height: 81px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100px;
}
.topBarLogin {
    color: #666;
}
.topBarLogin a {
    color: #999;
    line-height: 30px;
    padding: 0 5px;
}
.topBarRight {
    width: auto;
}
.topBarRight li {
    color: #999;
    float: left;
    line-height: 30px;
    padding: 0 10px;
    white-space: nowrap;
}
.skSmallStyle .topBarRight li {
    padding: 0 5px;
}
.skSmallStyle .topBarRight li.last .arrow {
    right: 0;
}
.skSmallStyle .listOrderBot ul li {
    padding: 0;
}
.topBarRight li a {
    color: #999;
}
.topBarRight li.last {
    position: relative;
}
.topBarRight li.last .arrow {
    position: absolute;
    right: 5px;
    top: 0;
}
.topBarRight li.menu-hover .arrow {
    border-top-color: #c69c6d;
}
.topBarRight li.menu-hover a {
    color: #c69c6d;
}
.lastLi {
    display: none;
    left: -15px;
    position: absolute;
    top: 26px;
    width: 105px;
}
.lastLiTip {
    height: 4px;
    position: relative;
    text-align: center;
    width: 100%;
}
.arrows {
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    width: 0;
}
.lastLiCon {
    background-color: #fff;
    box-shadow: 2px 3px 5px #333;
    height: 95px;
    padding: 10px 15px;
    width: 75px;
}
.lastLiCon .lastText {
    color: #666;
    height: 14px;
    line-height: 14px;
    padding-top: 5px;
    text-align: center;
}
.myOrder {
    margin-right: 10px;
}
.myOrder .lastLi {
    box-shadow: 0 5px 20px #080103;
    width: 230px;
}
.myOrder .lastLiTip {
    height: 4px;
    position: relative;
    text-align: center;
    width: 100%;
}
.myOrder .lastLiTip .arrows {
    left: 50px;
}
.lastLiOrder {
    background: #fff none repeat scroll 0 0;
    padding: 6px 0 7px;
    width: 100%;
}
.listOrderTop {
    border-bottom: 1px solid #eaeaea;
    margin: 0 8px;
    overflow: hidden;
    padding-bottom: 12px;
}
.listOrderTop p {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.listOrderTop .flp {
    border-right: 1px solid #efefef;
    padding-left: 12px;
    width: 94px;
}
.listOrderTop .frp {
    padding-left: 20px;
    width: 75px;
}
.topBarRight li.menu-hover .listOrderTop a {
    color: #666;
    display: block;
    overflow: hidden;
    width: 75px;
}
.topBarRight li.menu-hover .listOrderTop a:hover {
    color: #c69c6d;
}
.listOrderBot {
    overflow: hidden;
    padding: 0 8px;
}
.listOrderBot h6 {
    color: #666;
    line-height: 1;
    padding: 20px 0 10px 5px;
}
.listOrderBot ul {
    width: 110%;
}
.listOrderBot ul li {
    border: 1px solid #eaeaea;
    float: left;
    height: 48px;
    margin-right: 5px;
    padding: 0;
    width: 48px;
}
.navList {
    margin-left: -11px;
    width: 915px;
}
.navList li {
    float: left;
    height: 51px;
    line-height: 51px;
    padding: 0 14px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
.navList li .arrow {
    position: absolute;
    right: 3px;
    top: 10px;
}
.skSmallStyle .navList {
    margin-left: -3px;
}
.skSmallStyle .navList li {
    padding: 0 6px;
}
.skSmallStyle .navList li .arrow {
    position: absolute;
    right: -3px;
    top: 10px;
}
.navList li a {
    color: #333;
    display: block;
    height: 51px;
    width: 100%;
}
.navList li a:hover {
    color: #9c003f;
}
.navList li a span {
    font-family: Microsoft Yahei;
    font-size: 14px;
}
.navList li a .en {
    display: none;
}
.hwNavItems {
    padding-right: 0;
}
.search {
    height: 37px;
    padding-top: 28px;
    width: 405px;
}
.searchBox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f6f6f6 currentcolor #f6f6f6 #f6f6f6;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
}
.typeInputFocus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f09108 currentcolor #f09108 #f09108;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
}
.regFixed {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: 0;
    height: 60px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 8888;
}
.regFixedCon {
    margin: 0 auto;
    padding: 12px 0;
    width: 990px;
}
.regFpic {
    display: inline-block;
    height: 36px;
    vertical-align: top;
}
.regFpic img {
    display: inline;
    margin-right: 25px;
}
.regFa {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesPic/shopDetails/regPic_01.jpg") no-repeat scroll 0 0;
    display: inline-block;
    height: 41px;
    overflow: hidden;
    text-indent: -999px;
    vertical-align: top;
    width: 202px;
}
.regFa:hover {
    background-position: 0 -41px;
}
.regFcl {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesPic/shopDetails/regPic_06.png") no-repeat scroll 0 -26px;
    display: inline-block;
    height: 26px;
    margin-left: 25px;
    margin-top: 8px;
    overflow: hidden;
    text-indent: -999px;
    vertical-align: top;
    width: 26px;
}
.regFcl:hover {
    background-position: 0 0;
}
.regfText {
    background-color: #f3f3f3;
    display: none;
    height: 440px;
    left: 50%;
    margin-left: -306px;
    margin-top: -220px;
    position: fixed;
    top: 50%;
    width: 610px;
    z-index: 9999;
}
.regfTexts {
    padding: 10px;
    text-align: center;
}
.regFpop {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border: 1px solid #fff;
    display: none;
    height: 440px;
    left: 50%;
    margin-left: -316px;
    margin-top: -230px;
    padding: 10px;
    position: fixed;
    top: 50%;
    width: 610px;
    z-index: 9998;
}
.regFtits {
    padding: 20px 0;
    width: 100%;
}
.regFtits p {
    color: #9e0000;
    font-family: microsoft yahei;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.regFtits p a {
    color: #c69c6d;
    font-family: microsoft yahei;
    font-size: 14px;
}
.regfBack {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesPic/shopDetails/regPic_09.jpg") no-repeat scroll 0 0;
    display: inline-block;
    height: 51px;
    margin-top: 30px;
    overflow: hidden;
    text-indent: -999px;
    width: 255px;
}
.regfBack:hover {
    background-position: 0 -51px;
}
.regfClose {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesNew/globalPic/iconBgs.png") no-repeat scroll left -517px;
    cursor: pointer;
    height: 29px;
    position: absolute;
    right: -20px;
    top: -20px;
    transition: all 0.2s ease-out 0s;
    width: 29px;
}
.regfClose:hover {
    transform: rotate(180deg);
}
.Chead-mySecooA, .Chead-myhome, .Chead-service {
    box-shadow: 0 0 3px #eee;
    display: none;
}
.turl, .turlb {
    color: #999;
    line-height: 30px;
}
.turl {
    padding: 0 18px 0 8px;
    position: relative;
    z-index: 2;
}
.turlb {
    margin-right: 6px;
    padding: 0;
}
a.nHover {
    background: #f5f5f5 none repeat scroll 0 0;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    box-shadow: 0 0 3px #eee;
    color: #463b7f;
    padding: 0 17px 0 7px;
}
#Chead_myhome {
    padding: 0 7px 0 10px;
}
a.nHover i {
    border-bottom: 4px solid #463b7f;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: rotate(180deg);
}
a.turl:hover {
    color: #463b7f;
}
.turl i {
    border-bottom: 4px solid #999;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 14px;
    width: 0;
}
.topBarCon div {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #eee;
    position: absolute;
    top: 28px;
    z-index: 1;
}
.topBarCon div a, .topBarCon div span {
    color: #999;
    display: block;
    line-height: 22px;
    text-align: left;
}
.topBarCon div span {
    font-family: "宋体";
    line-height: 16px;
    margin-top: 2px;
}
.topBarCon span a {
    color: #999;
}
.topBarCon div a:hover, .topBarCon span a:hover {
    color: #463b7f;
}
.Chead-myhome {
    right: 302px;
    width: 90px;
}
.Chead-service {
    padding: 0 0 5px 11px;
    right: 154px;
    width: 88px;
}
.Chead-mySecooA {
    padding: 6px 0 7px 2px;
    right: 97px;
    width: 228px;
}
.Chead-mySecooA h1 p a, .Chead-mySecooA ol p a {
    text-align: left;
}
.Chead-mySecooA .flp {
    border-right: 1px solid #e6e6e6;
    padding-left: 12px;
    width: 94px;
}
.Chead-mySecooA .frp {
    padding-left: 20px;
    width: 75px;
}
.Chead-mySecooA .listOrderBot i {
    color: #666;
    display: block;
    font-style: normal;
    line-height: 1;
    padding: 20px 0 10px 5px;
}
.Chead-cart b {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/home/p_07_new.png") no-repeat scroll -1px 0;
    display: inline-block;
    height: 12px;
    margin: 0 4px 0 0;
    vertical-align: text-bottom;
    width: 13px;
}
.searchBar {
    height: 133px;
    margin: 0 auto;
    position: relative;
    width: 1200px;
    z-index: 89;
}
.Chead-logo {
    height: 135px;
    left: 50%;
    margin-left: -615px;
    position: absolute;
    top: -2px;
    width: 205px;
}
.Chead-logo a.logo {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/home/secoo_logo.png") no-repeat scroll 0 0;
    display: block;
    height: 100px;
    left: 0;
    margin: 18px;
    position: absolute;
    top: 0;
    width: 42px;
}
.Chead-logo img {
    position: absolute;
    right: 0;
    top: 18px;
}
.navApps {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/home/apps_bg.gif") no-repeat scroll 0 0;
    height: 128px;
    overflow: hidden;
    position: absolute;
    right: 11px;
    top: 4px;
    width: 96px;
    z-index: 10;
}
.navApps h1, .navApps span {
    bottom: 2px;
    color: #463b7f;
    font: bold 12px/24px "宋体";
    position: absolute;
    text-align: center;
    width: 100%;
}
.head_navBar {
    bottom: 0;
    height: 45px;
    position: absolute;
    right: 25px;
    transition: all 0.3s ease-in-out 0s;
    width: 926px;
    z-index: 4;
}
@media not all {
.head_navBar {
    background-position: 54px -1px;
}
}
.head_navBar a {
    font-size: 0;
}
.head_navBar a span {
    cursor: pointer;
    display: inline-block;
    height: 42px;
    margin: 20px 40px 0 0;
    vertical-align: middle;
}
.head_navBar a:hover span {
}
.head_navBar a:hover span i {
    color: #463b7f;
}
.head_navBar a span i {
    color: #333;
    font: 14px/20px "microsoft yahei";
}
.head_navBar a span b {
    color: #999;
    font: 11px/11px tahoma;
}
.head_navBar a span i, .head_navBar a span b {
    display: block;
    text-align: center;
}
.searchCont {
    left: 249px;
    position: absolute;
    top: 25px;
    z-index: 5;
}
.searchHot {
    font-size: 0;
    left: 249px;
    position: absolute;
    top: 68px;
    z-index: 4;
}
.searchHot a {
    color: #999;
    display: inline-block;
    margin-right: 25px;
}
.searchHot a:hover {
    color: #e93b39;
    text-decoration: underline;
}
.searchList {
    height: 31px;
    width: 71px;
}
.listCon {
    color: #4c4c4c;
    height: 31px;
    line-height: 31px;
    text-align: center;
}
.arrow-search {
    position: absolute;
    right: 5px;
    top: 14px;
}
.listUp span {
    display: inline-block;
    float: left;
    position: relative;
    width: 60px;
}
.searchInput {
    border: 2px solid #463b7f;
    height: 31px;
    position: relative;
}
.searchInput span {
    color: #767676;
    cursor: text;
    height: 24px;
    left: 10px;
    line-height: 24px;
    position: absolute;
    top: 0;
}
.searchInput .typeInput {
    border: 0 none;
    color: #999;
    font-family: "宋体";
    height: 27px;
    line-height: 20px;
    padding: 2px 10px;
    width: 392px;
}
.nbtn01 {
    background: #5b4f9d linear-gradient(#5b4f9d, #4b4082) repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: "microsoft yahei";
    font-size: 14px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    text-shadow: 1px 2px 1px #390010;
    width: 69px;
}
.nbtn01:hover {
    background: #463b7f none repeat scroll 0 0;
    color: #fff;
}
.searchList .menu-hover {
    background-color: #fff;
    position: static;
}
.ac_results {
    background-color: white;
    border-bottom: 2px solid #463b7f;
    border-left: 2px solid #463b7f;
    border-right: 2px solid #463b7f;
    margin-left: -1px;
    overflow: hidden;
    padding: 0 1px;
    z-index: 99999;
}
.ac_results ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ac_results li {
    cursor: default;
    display: block;
    font: ;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    padding: 5px;
}
.ac_loading {
    background: white url("indicator.gif") no-repeat scroll right center;
}
.ac_over {
    background-color: #ededed;
}
.ac_over .ellipsis::after {
    background: #ededed none repeat scroll 0 0;
}
.ellipsis {
    height: 88px;
    overflow: hidden;
}
.ellipsis::before {
    content: "";
    float: left;
    height: 88px;
    line-height: 18px;
    width: 5px;
}
.ellipsis > *:first-child {
    float: right;
    margin-left: -5px;
    width: 100%;
}
.ellipsis::after {
    background: #fff none repeat scroll 0 0;
    box-sizing: content-box;
    content: "…";
    float: right;
    left: 95%;
    margin-left: -1em;
    padding-right: 5px;
    position: relative;
    text-align: right;
    top: -16px;
    width: 1em;
}
.navStyle {
    bottom: 13px;
    height: 30px;
    position: absolute;
    right: 128px;
    transition: all 0.3s ease-in-out 0s;
    width: 55px;
    z-index: 11;
}
.navStyle a {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/home/secoo_style.png") no-repeat scroll 0 0;
    display: block;
    height: 28px;
    width: 53px;
}
.float-list {
    left: 50%;
    margin-left: -600px;
    position: absolute;
    top: 129px;
    z-index: 91;
}
.orderDivMain {
    background: #382f6b none repeat scroll 0 0;
    height: 34px;
    width: 180px;
}
.orderDivMain a, .orderDivMain a:hover {
    color: #fff;
    display: block;
    font: 14px/32px "microsoft yahei";
    height: 34px;
    text-align: center;
    text-indent: -2px;
    width: 180px;
}
.orderDivMain a i {
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    right: 46px;
    top: 15px;
    transition: all 0.3s ease-in-out 0s;
    width: 0;
}
.orderDivMainOn a i {
    transform: rotate(180deg);
}
@media not all, not all {
.orderDivMainOn a i {
    border-bottom: 4px solid transparent;
    border-top: 4px solid #fff;
}
}
.orderDivId {
    background: #463b7e none repeat scroll 0 0;
    display: none;
    padding-bottom: 2px;
    position: relative;
}
.orderDivId dl {
    background: #463b7f none repeat scroll 0 0;
    overflow: hidden;
}
.orderDivId dl dt {
    height: 50px;
    margin: 0 2px;
    overflow: hidden;
    padding: 12px 0 0 18px;
    width: 158px;
}
.orderDivId dl dt strong a {
    color: #fff;
    font: 14px/14px "microsoft yahei";
}
.orderDivId dl dt p {
    font-size: 0;
    margin-top: 10px;
    white-space: nowrap;
}
.orderDivId dl dt p a {
    color: #ccc;
    display: inline-block;
    padding-right: 12px;
}
.orderDivId dl dd {
    background: #fff none repeat scroll 0 0;
    border-bottom: 2px solid #433b7d;
    border-right: 2px solid #433b7d;
    border-top: 2px solid #433b7d;
    left: 180px;
    min-height: 420px;
    padding: 0 25px 0 28px;
    position: absolute;
    top: 2px;
    visibility: hidden;
    width: 330px;
}
.orderDivId dl dd strong {
    color: #463b7f;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-top: 12px;
}
.float-list-cont {
    font-size: 0;
    line-height: 17px;
    padding-top: 14px;
}
.float-list-cont a {
    color: #333;
    display: inline-block;
}
.float-list-cont a:hover, .orderDivId dl.hov dt p a:hover {
    color: #d32220;
    text-decoration: underline;
}
.float-list-cont a:hover {
}
.float-list-cont a:hover em {
    color: #333;
    text-decoration: none;
}
.float-list-cont a em {
    display: inline-block;
    padding: 0 6px 0 7px;
}
.float-list-btn {
    font-size: 0;
    padding-top: 5px;
}
.float-list-btn a {
    background: #463b7f none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 28px;
    line-height: 26px;
    margin: 0 20px 0 0;
    text-align: center;
    width: 120px;
}
.float-list-btn a:hover {
    background: #7f69b3 none repeat scroll 0 0;
}
.orderDivId dl dd li {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/imagesPic/homePic/line_1.jpg") repeat-x scroll 0 bottom;
    margin-bottom: 9px;
    padding-bottom: 14px;
}
.orderDivId dl dd li.no_b {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
}
.orderDivId dl.odd {
    background: #382f6b none repeat scroll 0 0;
}
.orderDivId dl.hov dd {
    visibility: visible;
}
.orderDivId dl.hov dt {
    background: #fff none repeat scroll 0 0;
    margin: 0 0 0 2px;
    width: 160px;
}
.orderDivId dl.webfLast dt {
    height: 50px;
}
.orderDivId dl.hov dt strong a {
    color: #382f6b;
}
.orderDivId dl.hov dt p a {
    color: #333;
}
.n-footer {
    background-color: #fff;
    position: relative;
    width: 100%;
}
.n-footer .service, .footer-nav .bd, .footer-aboat {
    margin: 0 auto;
    transition: all 0.3s ease-in-out 0s;
    width: 1200px;
}
.n-footer .service {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/home/p_11.jpg") no-repeat scroll 683px 0;
    padding: 28px 0 5px;
}
.n-footer .service dl {
    float: left;
    width: 170px;
}
.n-footer .service dt {
    font: 12px "宋体";
    padding: 6px 0 8px;
}
.n-footer .service dd {
    line-height: 22px;
    min-height: 120px;
}
.n-footer .service dd a, .n-footer .service dd span {
    color: #999;
    font-family: "宋体";
}
.n-footer .service dd a:hover {
    color: #463b7f;
}
.n-footer .service dd span {
    display: inline-block;
}
.n-footer .service dd a:hover {
    color: #463b7f;
}
.n-footer .service dl.first {
    padding-left: 15px;
}
.n-footer .service dl.last {
    height: 178px;
    padding-left: 8px;
    width: 290px;
}
.pr65 {
    padding-right: 65px;
}
.n-footer .service ul {
    float: right;
}
.n-footer .service ul li {
    float: left;
    text-align: center;
    width: 80px;
}
.n-footer .service ul li p {
    padding: 6px 0;
}
.n-footer .service ul li.last {
    margin-left: 20px;
}
.n-footer .service ul li.last p {
}
.footer-nav {
    background: #463b7f none repeat scroll 0 0;
    color: #f5f5f5;
    height: 23px;
    padding: 9px 0 7px;
    width: 100%;
}
.footer-nav li {
    float: left;
    font: 14px/23px "microsoft yahei";
    padding-left: 105px;
}
.footer-nav li i {
    background: rgba(0, 0, 0, 0) url("https://safeimg.secoo.com/home/p_04.png?t=20150115") no-repeat scroll 0 0;
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    position: relative;
    top: -2px;
    vertical-align: middle;
}
.footer-nav li.nf-1 i {
    background-position: 0 0;
    width: 22px;
}
.footer-nav li.nf-2 i {
    background-position: -29px 0;
    width: 16px;
}
.footer-nav li.nf-3 i {
    background-position: -49px 0;
    width: 26px;
}
.footer-nav li.nf-4 i {
    background-position: -83px 0;
    width: 18px;
}
.footer-nav li.nf-5 i {
    background-position: -104px 0;
    width: 27px;
}
.footer-aboat {
    color: #999;
    padding: 22px 0 12px;
    text-align: center;
}
.footer-aboat .links a {
    color: #333;
    padding: 0 5px;
}
.footer-aboat .links a:hover {
    color: #463b7f;
}
.footer-aboat .links p, .footer-aboat .copyright p {
    padding-bottom: 13px;
}
.footer-aboat .links p span, .footer-aboat .copyright p span {
    border-right: 1px solid #999;
    display: inline-block;
    margin: 0 5px 0 6px;
    vertical-align: -6%;
}
.footer-aboat .copyright p span {
    margin: 0 10px 0 6px;
    padding: 0 3px;
}
.authentication a {
    padding: 0 5px;
}
.skSmallStyle .n-footer .service, .skSmallStyle .footer-nav .bd, .skSmallStyle .footer-aboat {
    width: 990px;
}
.skSmallStyle .footer-nav li {
    padding-left: 70px;
}
.skSmallStyle .n-footer .service dl {
    width: 123px;
}
.skSmallStyle .n-footer .service dl.last {
    width: 290px;
}
.skSmallStyle .searchBar {
    margin: 0 auto;
    width: 990px;
}
.skSmallStyle .navApps {
    display: none;
}
.skSmallStyle .head_navBar {
    left: 250px;
    right: auto;
    width: 952px;
}
.skSmallStyle .navStyle {
    bottom: 73px;
    right: 10px;
}
.skSmallStyle #navExpand {
    left: 30px;
}
.skSmallStyle .navItemCons {
    width: 990px;
}
.skSmallStyle .float-list {
    margin-left: -495px;
}
.skSmallStyle .Chead-logo {
    left: -18px;
    margin: 0;
}
.skSmallStyle .nav-slide {
    left: 88px;
}
.skSmallStyle .nav-jx {
    width: 71px;
}
.skSmallStyle .service {
    background-position: 500px 0;
}
.ac_results {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: currentcolor #463b7f #463b7f;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 2px 2px;
    overflow: hidden;
    padding: 0;
    z-index: 99999;
}
.skSmallStyle .topBar {
    margin: 0 auto;
    width: 990px;
}
.skSmallStyle .floorList {
    width: 990px;
}
.skSmallStyle .fixedOn {
    width: 100%;
}
.ac_results ul {
    background: #fff none repeat scroll 0 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ac_results li {
    color: #666;
    cursor: pointer;
    display: block;
    font: ;
    font-family: "宋体";
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    padding: 5px;
}
.ac_results li.ac_over dt {
    line-height: 28px;
}
.ac_results li dd a {
    color: #4c4c4c;
}
.ac_results li dd a b {
    color: #e93b39;
    font-weight: bold;
}
.ac_results li.fg {
    background-position: 0 bottom;
    background-repeat: repeat-x;
}
.ac_results li.ac_over dd a {
    font: 12px/28px "宋体";
}
.ac_results li dd a span {
    background: #e93b39 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-left: 5px;
    padding: 0 3px;
    vertical-align: 0;
}
.ac_results li.ac_over dl {
    background-position: 0 top;
    background-repeat: repeat-x;
}
.ac_results li dl {
    clear: both;
    padding: 10px 13px;
}
.ac_results li dl strong {
    color: #666;
    display: inline-block;
    font-weight: normal;
    height: 88px;
    line-height: 18px;
    margin-left: 13px;
    overflow: hidden;
    vertical-align: middle;
    width: 202px;
}
.ac_odd {
    background: #fff none repeat scroll 0 0;
}
.ac_over {
    background-color: #ededed;
    color: #463b7f;
}
.skSmallStyle .head_navBar a span {
    margin: 20px 30px 0 0;
}
